env/Lib/site-packages/django/contrib/admin/__pycache__/forms.cpython-312.pyc
env/Lib/site-packages/django/contrib/auth/management/commands/__pycache__/__init__.cpython-312.pyc
env/Lib/site-packages/django/contrib/auth/management/commands/__pycache__/createsuperuser.cpython-312.pyc
