{% extends "store/base.html" %}
{% block title %} Cart {% endblock %}
{% block content %}
    {% load static %}
    {% if items %}
        <h1 class="text-9xl font-bold text-center p-12" xmlns="http://www.w3.org/1999/html">Your Cart</h1>
        <h2>{{ order.get_cart_items }}</h2>
        <div class="flex flex-col w-full lg:flex-row">
            <div class="grid flex-grow place-items-center">
                {% for item in items %}
                    <div class="card bg-base-100 shadow-xl my-12">
                        <figure>
                            <img src="{{ item.product.designURL }}" alt="product" class="p-12"/>
                            <img src="{{ item.product.imageURL }}" alt="product"/>
                        </figure>
                        <div class="card-body ">
                            <div class="flex flex-row justify-around">
                                <div>
                                    <p>₹{{ item.product.price }}</p>
                                </div>
                                <div>
                                    <h2 class="card-title capitalize">{{ item.product.name }}</h2>
                                </div>
                                <div>
                                    <p>{{ item.product.size }}</p>
                                </div>
                            </div>
                            <div class="card-actions justify-end py-6">
                                <button class="btn btn-outline btn-accent update-cart"
                                        data-product="{{ item.product.id }}" data-action="remove">Remove
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="grid flex-grow h-1/2 rounded-box place-items-left ">
                <div class="w-1/3">
                    <h1 class="text-7xl text-center">Summary </h1>
                    <div class="flex flex-col p-6 h-full">
                        <div class="flex justify-between ">
                            <h2 class="align-left">Subtotal</h2>
                            <h2>₹{{ order.get_cart_total }}</h2>
                        </div>
                        <div class="flex justify-between ">
                            <h2 class="align-left">Estimated Delivery &amp; Handling</h2>
                            <h2>₹ 1000.00</h2>
                        </div>
                        <div class="flex justify-between py-10">
                            <h2 class="align-left">Total</h2>
                            <h2>₹ {{ order.get_cart_total | add:1000 }}</h2>
                        </div>
                        <button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg w-full bg-green-300 text-white">
                            Checkout
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h1 class="text-9xl font-bold text-center p-12" xmlns="http://www.w3.org/1999/html">Your Cart is Empty</h1>
        <h1 class="text-5xl font-bold text-center p-12" xmlns="http://www.w3.org/1999/html">Continue Shoping</h1>
        <div class="w-full h-1/2 flex justify-center py-12">
            <div class="grid grid-cols-2 gap-20  h-full w-2/3">
                <div class="bg-gray-200 p-4 rounded-xl h-full">
                    <div class="p-12 pl-6 flex flex-col h-full">
                        <h3 class="text-7xl mb-2 ">T-Shirts</h3>
                        <p class="text-gray-600 mb-4">Starting at Rs. 1999</p>
                        <a href="{% url 't-shirt' %}">
                            <div class="flex items-end h-full">
                                <button class="btn bg-black text-white">Shop Now</button>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="bg-gray-200 p-4 rounded-xl h-full">
                    <div class="py-12 pl-6 flex flex-col h-full">
                        <h3 class="text-7xl mb-2 ">Hoodies</h3>
                        <p class="text-gray-600 mb-4">Starting at Rs. 3999</p>
                        <a href="{% url 'hoodie' %}">
                            <div class="flex items-end h-full">
                                <button class="btn bg-black text-white">Shop Now</button>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        </div>


    {% endif %}
    </div>



    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var removeButtons = document.querySelectorAll('.update-cart');

            removeButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var productId = button.getAttribute('data-product');
                    var action = button.getAttribute('data-action');

                    // Construct the data payload
                    var data = {
                        'product_id': productId,
                        'action': action
                    };

                    // Send an AJAX request to update the cart
                    fetch('/update-cart/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': getCookie('csrftoken')
                        },
                        body: JSON.stringify(data)
                    })
                        .then(response => response.json())
                        .then(data => {
                            // Handle the response from the server
                            console.log(data);
                            // Refresh the page upon successful removal
                            location.reload();
                        })
                        .catch((error) => {
                            console.error('Error:', error);
                        });
                });
            });

            // Function to get CSRF token from cookies
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        });
    </script>
{% endblock %}
