{% extends "store/base.html" %} {% block content %}
    {% load static %}
        <div class="login">
            <div class="div">
                <div class="navbar">
                    <div class="navbar-2">
                        <img src="{% static 'images1/On1yOne-White.png' %}">
                    </div>
                <div class="group">
                    <div class="text-wrapper">Login</div>
                    <div class="frame">
                        <div class="frame-2">
                            <form method="post" action="{% url 'login' %}">
                                {% csrf_token %}
                                <label for="username">Username:</label><br>
                                <input type="text" id="username" name="username" required><br><br>
                                
                                <label for="password">Password:</label><br>
                                <input type="password" id="password" name="password" required><br><br>
                            </form>
                        </div>
                        <button type="submit" class="button" style="vertical-align:middle" value="Login"><span>Login </span></button>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div>
            {% for message in messages %}
            {% if message %}
                <h3>{{message}}</h3>
            {% endif %}
            {% endfor %}
        </div>
{% endblock %}
