{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div>
        <h2>Registration</h2>
        <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            <label for="full_name">Full Name:</label><br>
            <input type="text" id="full_name" name="full_name" required><br><br>
            
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required><br><br>
            
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br><br>
            
            <label for="phone_number">Phone Number:</label><br>
            <input type="text" id="phone_number" name="phone_number" required><br><br>
            
            <label for="password1">Password:</label><br>
            <input type="password" id="password1" name="password1" required><br><br>
            
            <label for="password2">Confirm Password:</label><br>
            <input type="password" id="password2" name="password2" required><br><br>

            <input type="submit" value="Register">
        </form>
        {% for message in messages %}
        {% if message %}
            <h3>{{message}}</h3>
        {% endif %}
        {% endfor %}
    </div>
    <!-- <div>
        {% for message in messages %}
        {% if message %}
            <h3>{{message}}</h3>
        {% endif %}
        {% endfor %}
    </div> -->
</body>
</html>
