{% extends "store/base.html" %}
    {% load static %}
    {% block title %}Hoodie{% endblock %}
 {% block content %}


    <div class="flex flex-col items-center justify-center">
        <h1 class="font-black text-9xl py-6 xl:py-12 2xl:py-24 h-1/3 flex justify-center">Hoodie</h1>

        <div class="flex pt-24  items-center h-1/3">
            <div class="flex  space-x-24 ">
                <div class="card w-1/3 bg-base-100 shadow-xl">
                    <figure class="px-10 pt-10">
                        <img id="hoodie-front" class="h-full w-auto" src="{% static 'images1/H-White-Front.png' %}">
                    </figure>

                </div>
                <div class="card w-1/3 bg-base-100 shadow-xl">
                    <figure class="px-10 pt-6 xl:pt-12 2xl:pt-24 ">
                        <img id="hoodie-design" class="h-full w-auto" src="{% static 'images/generated_image1.jpg' %}">
                    </figure>
                </div>
                <div class="card w-1/3 bg-base-100 shadow-xl">
                    <figure class="px-10 pt-10">
                        <img id="hoodie-back" class="h-full w-auto" src="{% static 'images1/H-White-Back.png' %}">
                    </figure>
                </div>
            </div>
        </div>
        <div class="fixed bottom-0  w-full h-1/3 bg-base justify-center">
            <div class="grid grid-cols-3 justify-items-stretch  grid-flow-row gap-4 h-full p-12 ">
                <div class="flex justify-center items-center">
                    <a href="{% url 'generate_image_hoodie' %}?refresh=true">
                        <button class="btn btn-outline btn-secondary" onclick="hardRefresh()">Get a New Design</button>
                    </a>
                </div>
                <div class="flex flex-col justify-center items-center">
                    <div class="flex">
                        <h1 class="font-black text-5xl">Change Color</h1>
                    </div>
                    <div class="flex p-6">
                        <div class="grid grid-cols-4 gap-4">
                            <button onclick="selectColor(this, 'white', '{% static "images1/H-White-Front.png" %}', '{% static "images1/H-White-Back.png" %}')"
                                    class="btn btn-circle bg-white" id="white"></button>
                            <button onclick="selectColor(this, 'black', '{% static "images1/H-Black-Front.png" %}', '{% static "images1/H-Black-Back.png" %}')"
                                    class="btn btn-circle bg-black " id="black"></button>
                            <button onclick="selectColor(this, 'maroon', '{% static "images1/H-Maroon-Front.png" %}', '{% static "images1/H-Maroon-Back.png" %}')"
                                    class="btn btn-circle bg-rose-500" id="maroon"></button>
                            <button onclick="selectColor(this, 'yellow', '{% static "images1/H-Yellow-Front.png" %}', '{% static "images1/H-Yellow-Back.png" %}')"
                                    class="btn btn-circle bg-amber-200" id="yellow"></button>
                            <button onclick="selectColor(this, 'lightbeige', '{% static "images1/H-LightBeige-Front.png" %}', '{% static "images1/H-LightBeige-Back.png" %}')"
                                    class="btn btn-circle bg-amber-50" id="lightbeige"></button>
                            <button onclick="selectColor(this, 'pink', '{% static "images1/H-Pink-Front.png" %}', '{% static "images1/H-Pink-Back.png" %}')"
                                    class="btn btn-circle bg-pink-100" id="pink"></button>
                            <button onclick="selectColor(this, 'green', '{% static "images1/H-Green-Front.png" %}', '{% static "images1/H-Green-Back.png" %}')"
                                    class="btn btn-circle bg-teal-700" id="teal"></button>
                            <button onclick="selectColor(this, 'brown', '{% static "images1/H-Brown-Front.png" %}', '{% static "images1/H-Brown-Back.png" %}')"
                                    class="btn btn-circle bg-amber-950" id="brown"></button>

                        </div>
                    </div>
                    <div id="selectedColor" class="hidden">Selected Color:</div>
                </div>
                <div class="flex flex-col justify-center items-center">
                    <div class="grid grid-cols-6 gap-4 py-12">
                        <button class="btn btn-outline" onclick="selectSize('XS')" id="btnXS">XS</button>
                        <button class="btn btn-outline" onclick="selectSize('S')" id="btnS">S</button>
                        <button class="btn btn-outline" onclick="selectSize('M')" id="btnM">M</button>
                        <button class="btn btn-outline" onclick="selectSize('L')" id="btnL">L</button>
                        <button class="btn btn-outline" onclick="selectSize('XL')" id="btnXL">XL</button>
                        <button class="btn btn-outline" onclick="selectSize('XXL')" id="btnXXL">XXL</button>
                    </div>
                    <p class="pb-3 font-bold text-lg"> Rs. 3999</p>
                    <a href="{% url 'generate_image_hoodie' %}?refresh=true">
                        <button class="btn btn-outline btn-primary " onclick="addToCart()">Add to Cart</button>
                    </a>

                </div>
            </div>
        </div>

    </div>



    <script>
        function changecolor(frontImg, backImg) {
            let img = document.querySelector("#hoodie-front");
            let img2 = document.querySelector("#hoodie-back");
            console.log("Found img element:", img);
            img.setAttribute('src', frontImg);
            img2.setAttribute('src', backImg);
            console.log("Image source set successfully.");
        }

        var sizesObject = {
            "XS": "Extra Small",
            "S": "Small",
            "M": "Medium",
            "L": "Large",
            "XL": "Extra Large",
            "XXL": "Double Extra Large",
        };

        let selectedSize = null;

        function selectSize(size) {
            // Get all buttons with the 'size' class
            const buttons = document.querySelectorAll('.size button');

            // Remove the 'bg-green-300' and 'text-white' classes from all buttons
            buttons.forEach(button => {
                button.classList.remove('bg-green-300', 'text-white');
            });

            // Add the 'bg-green-300' and 'text-white' classes to the selected button
            const selectedButton = document.getElementById('btn' + size);
            selectedButton.classList.add('bg-green-300', 'text-white');

            selectedSize = size;
        }


        function selectColor(button, color, frontImg, backImg) {
            document.querySelectorAll('.frame button').forEach(btn => {
                btn.classList.remove('selected');
            });
            button.classList.add('selected');
            document.getElementById('selectedColor').textContent = 'Selected Color: ' + color;
            selectedColor = color;

            changecolor(frontImg, backImg); // Call changecolor function with the selected color's image URLs
        }

        var csrfToken = "{{ csrf_token }}";

        function addToCart() {
            if (!selectedColor || !selectedSize) {
                console.error('Please select a color and size before adding to cart');
                return;
            }

            let backImg = document.querySelector("#hoodie-back").getAttribute('src');
            let design_image = document.querySelector('#hoodie-design').getAttribute('src');

            fetch('/add-to-cart-hoodie/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({
                    'color': selectedColor,
                    'size': selectedSize,
                    'product_type': 'hoodie',
                    'name': 'Your Hoodie Product Name',
                    'price': 3999,
                    'hoodie_back_image': backImg,
                    'design_image': design_image,
                })
            })
                .then(response => {
                    if (response.ok) {
                        console.log(backImg)
                        console.log('Product added to cart successfully');
                    } else {
                        return response.json();
                    }
                })
                .then(data => {
                    if (data && data.error) {
                        console.error('Error:', data.error);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }


    </script>
    <script>
        function hardRefresh() {
            caches.open("v1").then((cache) => {
                cache.delete("{% static 'images/generated_image.jpg' %}").then((response) => {
                    location.reload(true); // Reload the page after deleting the resource from cache
                });
            });
        }
    </script>


{% endblock %}

