@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.login {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.login .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1440px;
    height: 1080px;
    position: relative;
}

.login .navbar {
    position: absolute;
    width: 1448px;
    height: 63px;
    top: 0;
    left: 0;
}

.login .navbar-2 {
    position: relative;
    width: 1440px;
    height: 63px;
    background-image: url(bg.jpeg);
    background-size: 100% 100%;
}

.login .navbar-2 img{
    height: 45px;
    width: 110px;
    padding-left: 10px;
    padding-top: 8.5px;
}

.login .group {
    position: absolute;
    width: 335px;
    height: 334px;
    top: 192px;
    left: 554px;
}

.login .text-wrapper {
    position: absolute;
    top: 0;
    left: 87px;
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
    color: #000000;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
}

.login .frame {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 77px;
    left: 0;
}

.login .frame-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    flex: 0 0 auto;
}

.login .frame-3 {
    display: flex;
    width: 333px;
    align-items: flex-start;
    gap: 11px;
    position: relative;
    flex: 0 0 auto;
}

.login .group-2 {
    width: 163px;
    position: relative;
    height: 56px;
}

.login .rectangle {
    width: 161px;
    position: absolute;
    height: 40px;
    top: 22px;
    left: 0px;
    background-color: #FDF6F0;
    border-width: 0px;
}

.login .text-wrapper-2 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.login .group-3 {
    width: 163px;
    margin-right: -2px;
    position: relative;
    height: 56px;
}

.login .group-4 {
    width: 335px;
    margin-right: -2px;
    position: relative;
    height: 56px;
}

.login .text-wrapper-3 {
    position: absolute;
    width: 85px;
    top: 0;
    left: 0;
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.login .rectangle-2 {
    width: 333px;
    position: absolute;
    height: 40px;
    top: 22px;
    left: 0;
    background-color: #FDF6F0;
    border-width: 0px;
}

.login .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #000000;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
}

.login .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.login .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.login .button:hover span {
    padding-right: 25px;
}
  
.login .button:hover span:after {
    opacity: 1;
    right: 0;
}

.login .overlap-group {
    position: relative;
    width: 101px;
    height: 29px;
    background-color: #000000;
}

.login .text-wrapper-4 {
    position: absolute;
    top: 7px;
    left: 31px;
    font-family: "Urbanist", sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.login .footer {
    position: absolute;
    width: 1440px;
    height: 408px;
    top: 750px;
    left: 0;
    background-color: #e8edeb;
}

.login .social {
    position: absolute;
    width: 13px;
    height: 23px;
    top: 282px;
    left: 148px;
}

.login .social-2 {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 283px;
    left: 185px;
    background-image: url(instagram.png);
    background-size: 100% 100%;
}

.login .img {
    position: absolute;
    width: 31px;
    height: 24px;
    top: 282px;
    left: 231px;
}

.login .social-3 {
    position: absolute;
    width: 23px;
    height: 22px;
    top: 283px;
    left: 286px;
    background-image: url(linkedin.png);
    background-size: 100% 100%;
}

.login .menu-footer {
    position: absolute;
    width: 202px;
    height: 197px;
    top: 80px;
    left: 619px;
}

.login .text-wrapper-5 {
    position: absolute;
    top: -1px;
    left: 0;
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.login .text-wrapper-6 {
    position: absolute;
    top: 52px;
    left: 0;
    font-family: "Urbanist", sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.login .text-wrapper-7 {
    position: absolute;
    top: 84px;
    left: 0;
    font-family: "Urbanist", sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.login .text-wrapper-8 {
    top: 116px;
    position: absolute;
    left: 0;
    font-family: "Urbanist", sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.login .text-wrapper-9 {
    position: absolute;
    top: 148px;
    left: 0;
    font-family: "Urbanist", sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.login .text-wrapper-10 {
    position: absolute;
    top: 180px;
    left: 0;
    font-family: "Urbanist", sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.login .menu-footer-vert {
    position: absolute;
    width: 203px;
    height: 165px;
    top: 80px;
    left: 853px;
}

.login .menu-footer-2 {
    position: absolute;
    width: 203px;
    height: 197px;
    top: 80px;
    left: 1088px;
}

.login .overlap {
    position: absolute;
    width: 453px;
    height: 304px;
    top: -34px;
    left: 134px;
}

.login .p {
    position: absolute;
    width: 438px;
    top: 227px;
    left: 15px;
    font-family: "Urbanist", sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 26px;
}

.login .one-logo {
    position: absolute;
    width: 430px;
    height: 304px;
    top: 0;
    left: 0;
    object-fit: cover;
}
