.hoodie-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.hoodie-page .one-logo-1{
    position:fixed;
}

.hoodie-page .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 100%;
    height: 1080px;
    position: static;
}

.hoodie-page .navbar {
    position: absolute;
    width: 100%;
    height: 63px;
    top: 0;
    left: 0;
}

.hoodie-page .navbar-2 {
    position: absolute;
    width: 100%;
    height: 63px;
    background-color: #384037;
}

.hoodie-page .navbar-2 img {
    position: absolute;
    height: 60px;
    padding-left: 10px;
    width: 100px;
    margin-top: 0px;
    padding-top: 0px;
}

.hoodie-page .home {
    width: 42px;
    left: 525px;
    position: absolute;
    top: 22px;
    font-family: "Urbanist", sans-serif;
    font-style: normal;
    font-weight: 200;
    background:transparent;
    color: white;
    border-color: #384037;
    border-style: solid;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.hoodie-page .home:hover{
    color: #bbc4bf;
}

.hoodie-page .shop {
    width: 34px;
    left: 625px;
    position: absolute;
    top: 22px;
    font-family: "Urbanist", sans-serif;
    font-style: normal;
    font-weight: 200;
    background:transparent;
    color: white;
    border-color: #384037;
    border-style: solid;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.hoodie-page .shop:hover{
    color: #bbc4bf;
}

.hoodie-page .about {
    width: 42px;
    left: 725px;
    position: absolute;
    top: 22px;
    font-family: "Urbanist", sans-serif;
    font-style: normal;
    font-weight: 200;
    background:transparent;
    color: white;
    border-color: #384037;
    border-style: solid;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.hoodie-page .about:hover{
    color: #bbc4bf;
}

.hoodie-page .cart{
    position: absolute;
    top:15px;
    width: 57px;
    height: 20px;
    left: 1350px;
    color: white;
    background: transparent;
    border:none;
    font-size: 27px;
}

.hoodie-page .cart:hover{
    color: #bbc4bf;
}

.hoodie-page #selectedColor{
    color:#e8edeb;
}

.hoodie-page #selectedColor:hover{
    cursor:default;
    color:#e8edeb;
}

.hoodie-page .contact {
    position: absolute;
    width: 57px;
    top: 22px;
    left: 825px;
    font-family: "Urbanist", sans-serif;
    font-style: normal;
    font-weight: 200;
    background:transparent;
    color: white;
    border-color: #384037;
    border-style: solid;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.hoodie-page .contact:hover{
    color: #bbc4bf;
}

.hoodie-page .overlap {
    position: absolute;
    width: 100%;
    height: 320px;
    top: 750px;
    left: 0;
    background-color: #e8edeb;
}

.hoodie-page .frame {
    display: inline-flex;
    align-items: flex-start;
    gap: 45px;
    position: absolute;
    top: 120px;
    left: 520px;
}

.hoodie-page .frame-ex {
    display: inline-flex;
    align-items: flex-start;
    gap: 45px;
    position: absolute;
    top: 200px;
    left: 520px;
}

.hoodie-page .change-color{
    display: inline-flex;
    align-items: flex-start;
    position: absolute;
    font-family: "Urbanist", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: larger;
    left:600px;
    top: 50px;
}

.hoodie-page .select-size{
    display: inline-flex;
    align-items: flex-start;
    font-family: "Urbanist", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: larger;
    left: 1000px;
    top:50px;
    position:absolute;
}

.hoodie-page .select{
    position: relative;
    display: inline-flex;
    align-items: flex-start;
    left:120px;
}

.hoodie-page .size{
    display: inline-flex;
    align-items: flex-start;
    position: absolute;
    top: 50px;
    gap:20px;
}

/*.tshirt-page .size-2{
    display: inline-flex;
    align-items: flex-start;
    position: absolute;
    top: 150px;
    gap:20px;
}*/

.hoodie-page .ellipse {
    width: 40px;
    height: 40px;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-left: -1px;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid;
    position: relative;
    border-color: #00000026;
    box-shadow: 14px 12px 56px 2px rgba(0, 0, 0, 0.24); 
    cursor: pointer; 
    outline: none; 
    transition: 0.2s all;
}

.hoodie-page .ellipse:active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}

.hoodie-page .ellipse-2 {
    width: 40px;
    height: 40px;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-left: -1px;
    background-color: #000000;
    border-radius: 20px;
    border: 1px solid;
    position: relative;
    border-color: #00000026;
    box-shadow: 14px 12px 56px 2px rgba(0, 0, 0, 0.24); 
    cursor: pointer; 
    outline: none; 
    transition: 0.2s all;
}

.hoodie-page .ellipse-2:active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}

.hoodie-page .ellipse-3 {
    width: 40px;
    height: 40px;
    margin-top: -1px;
    margin-bottom: -1px;
    background-color: #B0143C;
    border-radius: 20px;
    border: 1px solid;
    position: relative;
    border-color: #00000026;
    box-shadow: 14px 12px 56px 2px rgba(0, 0, 0, 0.24); 
    cursor: pointer; 
    outline: none; 
    transition: 0.2s all;
}

.hoodie-page .ellipse-3:active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}

.hoodie-page .ellipse-4 {
    width: 40px;
    height: 40px;
    margin-top: -1px;
    margin-bottom: -1px;
    background-color: #FFE59D;
    border-radius: 20px;
    border: 1px solid;
    position: relative;
    border-color: #00000026;
    box-shadow: 14px 12px 56px 2px rgba(0, 0, 0, 0.24); 
    cursor: pointer; 
    outline: none; 
    transition: 0.2s all;
}

.hoodie-page .ellipse-4:active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}

.hoodie-page .ellipse-5 {
    width: 40px;
    height: 40px;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-right: -1px;
    background-color: #EBEDE9;
    border-radius: 20px;
    border: 1px solid;
    position: relative;
    border-color: #00000026;
    box-shadow: 14px 12px 56px 2px rgba(0, 0, 0, 0.24); 
    cursor: pointer; 
    outline: none; 
    transition: 0.2s all;
}

.hoodie-page .ellipse-5:active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}

.hoodie-page .ellipse-6 {
    width: 40px;
    height: 40px;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-right: -1px;
    background-color: #FFF6F8;
    border-radius: 20px;
    border: 1px solid;
    position: relative;
    border-color: #00000026;
    box-shadow: 14px 12px 56px 2px rgba(0, 0, 0, 0.24); 
    cursor: pointer; 
    outline: none; 
    transition: 0.2s all;
}

.hoodie-page .ellipse-6:active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}

.hoodie-page .ellipse-7 {
    width: 40px;
    height: 40px;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-right: -1px;
    background-color: #00755A;
    border-radius: 20px;
    border: 1px solid;
    position: relative;
    border-color: #00000026;
    box-shadow: 14px 12px 56px 2px rgba(0, 0, 0, 0.24); 
    cursor: pointer; 
    outline: none; 
    transition: 0.2s all;
}

.hoodie-page .ellipse-7:active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}

.hoodie-page .ellipse-8 {
    width: 40px;
    height: 40px;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-right: -1px;
    background-color: #74512B;
    border-radius: 20px;
    border: 1px solid;
    position: relative;
    border-color: #00000026;
    box-shadow: 14px 12px 56px 2px rgba(0, 0, 0, 0.24); 
    cursor: pointer; 
    outline: none; 
    transition: 0.2s all;
}

.hoodie-page .ellipse-8:active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}

.hoodie-page .sizebtn{
    top: 3px;
    font-family: "Urbanist", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width:40px;
    height: 32px;
    position: relative;
    background-color: #e8edeb;
}

.hoodie-page .text-wrapper {
    position: absolute;
    top: 158px;
    left: 600px;
    font-family: "Urbanist", sans-serif;
    font-style: normal;
    font-weight: 250;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    padding-top: 10px;
    padding-left: 8px;
}

.hoodie-page .overlap-group {
    position: absolute;
    width: 88px;
    height: 33px;
    top: 111px;
    left: 1109px;
    background-color: #e8edeb;
    border: 1px solid;
    border-color: #000000;
    padding:0px;
}

.hoodie-page .text-wrapper-2 {
    top: 6px;
    left: 27px;
    font-family: "Urbanist", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #000000;
    font-size: 14px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
}

.hoodie-page .div-wrapper {
    position: absolute;
    width: 88px;
    height: 33px;
    top: 111px;
    left: 1197px;
    background-color: #384037;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #000000;
}

.hoodie-page .text-wrapper-3 {
    top: 6px;
    left: 28px;
    font-family: "Urbanist", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
}

.hoodie-page .text-wrapper-4 {
    position: absolute;
    top: 78px;
    left: 1174px;
    font-family: "Urbanist-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.hoodie-page .group {
    position: absolute;
    width: 174px;
    height: 33px;
    top: 111px;
    left: 100px;
}

.hoodie-page .overlap-2 {
    position: relative;
    width: 172px;
    height: 33px;
    background-color: #e8edeb;
    border: 1px solid;
    border-color: #000000;
}

.hoodie-page .getDesign {
    top: 25px;
    left: 50px;
    font-family: "Urbanist", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 7px 25px;
    position: relative;
    background-color: #e8edeb;
}

.hoodie-page .frame-wrapper {
    position: absolute;
    width: 174px;
    height: 33px;
    top: 140px;
    left: 960px;
}

.hoodie-page .frame-2 {
    height: 39px;
}

.hoodie-page .price{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "Urbanist", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: larger;
    gap: 10px;
    padding: 0px 0px 0px 0px;
    position: relative;
    top: 48px;
    left:70px;
    background-color: #e8edeb;
}

.hoodie-page .addToCartBtn{
    top: 60px;
    left: 200px;
    font-family: "Urbanist", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 7px 25px;
    position: absolute;
    background-color: #e8edeb;
}

.hoodie-page .text-wrapper-6 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Urbanist", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.hoodie-page .frame-4 {
    display: inline-flex;
    height: 517px;
    align-items: center;
    justify-content: center;
    gap: 100px;
    position: absolute;
    top: 206px;
    left: 50px;
    gap:70px;
}

.hoodie-page .rectangle {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #e8edeb;
    overflow: hidden;
}

.hoodie-page .h-front{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 0;
    left: 100px;
}

.hoodie-page .h-design{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 0;
}

.hoodie-page .h-back{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 0;
}

.hoodie-page .text-wrapper-7 {
    top: 200px;
    left: 210px;
    font-family: "Urbanist", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
}

.hoodie-page .text-wrapper-8 {
    position: absolute;
    top: 105px;
    left: 44%;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    color: #000000;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
}

.hoodie-page .text-wrapper-0 {
    top: 200px;
    left: 660px;
    font-family: "Urbanist", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
}

.hoodie-page .text-wrapper-9 {
    top: 200px;
    left: 1140px;
    font-family: "Urbanist", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
}